:root {
  --green: #20fc8f;
  --grey: #2d2d2a;
  --light-grey: #9c9c9c;
  --olive: #38423b;
  --blue: #3f5e5a;
  --red: #e94343;
  --ash: #9dc0bc;
  --white: #d8d8d8;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --notify: #026fcf;
  --font-main: "Archivo Narrow", sans-serif;
  --font-secondary: "Julius Sans One", sans-serif;
  --sidebar-width: 300px;
  --nav-padding: 40px;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  background-color: #333;
  overflow-x: hidden;
  overflow-y: scroll;
}

.app-main {
  display: flex;
  flex-direction: column;
}

.app {
  min-height: 100vh;
  min-width: 100vh;
}

.row {
  display: flex;
  flex-direction: row !important;
}

button {
  background-color: var(--green);
  border: none;
  color: var(--grey);
  border-radius: 10px;
  font-size: 1rem;
  width: 100%;
  padding: 10px;
  transition: all 0.1s ease-in-out;
}
button:hover {
  cursor: pointer;
  scale: 1.05;
}

input {
  box-sizing: border-box;
  padding-block: 0px;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: var(--black);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  width: 3px;
}

@keyframes slideInTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
