/* FILEPATH: /c:/Users/CharllieDhaldane/Desktop/Work/portfolio/Scheduler.io/client/src/Components/Customer/CustomerCommentPage/CustomerCommentPage.css */

.CustomerComment-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  width: 100%;
}

.welcome-message {
  font-size: 24px;
  margin-bottom: 16px;
  text-align: center;
  color: #fff;
  width: 100%; 
}

.appointments-container {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: flex-start; 
  width: 100%; 
  max-width: 1200px; 
  margin: 0 auto; 
  gap: 20px;
}

.info-display {
  flex: 1; 
  font-size: 24px;
  padding: 20px;
  border: 2px solid #eff2f5;
  border-radius: 10px;
  background-color: #eaeef2;
  color: #0e0d0d;
}

.anonymous-checkbox {
  margin-top: 20px; 
  color: #fff; 
}

.anonymous-checkbox input[type="checkbox"] {
  margin-right: 10px; 
}
.back-to-home {
  text-align: center;
  padding: 20px;
  width: 100%;
}