.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.5rem;
}

.input-container label {
  position: absolute;
  margin-left: 1em;
  margin-top: 0.6em;
  color: var(--light-grey);
  font-size: 1em;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.input-submit-button {
  position: absolute;
  top: 0;
  right: 1.5em;
  background-color: transparent;
  width: 10px;
  height: 100%;
  color: var(--primary);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-submit-button:hover,
.input-submit-button:active,
.input-submit-button:focus {
  background-color: transparent !important;
}

.input-container .icon {
  font-size: 2em;
  transition: color 0.3s ease-in-out;
}

.input-container input,
.input-container textarea {
  padding: 1.5em 0.7em 1em 0.7em;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  height: 100%;
  background-color: var(--bg-primary) !important;
  color: var(--primary) !important;
  font-size: 1em;
  overflow: hidden;
  height: 2.5em;
  transition: border-color 0.3s ease-in-out;
}

.input-container textarea {
  resize: none;
  width: auto;
  height: 130px !important;
  max-height: 130px;
  min-height: 130px;
}

.input-container.active input {
  /* padding-top: 1em; */
  border-color: var(--primary);
}

.input-container.active textarea {
  height: 165px !important;
}

.input-container.active label {
  margin-top: 5px;
  font-size: 0.7em;
}
.input-container.active.type-textarea label {
  margin-top: 10px;
  font-size: 0.7em;
}

.input-container:focus,
.input-container input:focus,
.input-container textarea:focus {
  outline: none;
}

.input-container textarea:hover,
.input-container input:hover {
  border-color: var(--primary);
}

.input-container.active input,
.input-container.active textarea {
  animation: paddingTop 0.3s ease-in-out forwards;
}

.input-container input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--bg-primary) inset;
  -webkit-text-fill-color: var(--primary) !important;
}

.changed:not(.active) input:required,
.changed:not(.active) textarea:required,
.changed:not(.active) .icon {
  border-color: var(--danger);
  color: var(--danger);
}

/* .changed:not(.active) input:not(:required),
.changed:not(.active) textarea:not(:required) {
  border-color: var(--warning) !important;
} */

.type-number input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  background: #89ff89
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=)
    no-repeat center center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 2em;
  opacity: 0.5; /* shows Spin Buttons per default (Chrome >= 39) */
}
.type-textarea label {
  margin-top: 20px;
}

.input-container .react-colorful {
  width: 100%;
  border-radius: 5px;
  background-color: var(--bg-primary) !important;
  color: var(--primary) !important;
  font-size: 1.1rem;
  overflow: hidden;
}

.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.input-form.compacted {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 10px;
}

.input-form.compacted .input-container {
  width: 48% !important;
  flex-grow: 1;
  min-width: 0;
}

.input-form .type-textarea {
  min-width: 100% !important;
}

.input-form-title {
  color: var(--primary);
  font-size: 2rem;
  margin-bottom: 20px;
}
