/* FILEPATH: /c:/Users/CharllieDhaldane/Desktop/Work/portfolio/Scheduler.io/client/src/Components/Customer/CustomerLoginBooking/CustomerBookingPage/CustomerBookingPage.css */

.guestbooking-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.guestbooking-container > div
    {
    flex:1;
    font-size: 24px;
    margin-bottom: 16px;
    text-align:center;
    color: #fff;
  }

.guest-booking{
  flex:1;
  font-size: 24px;
  margin-bottom: 16px;
  text-align:center;
  color: #fff;

}
.info-display{
  flex:1;
  font-size: 24px;
  margin-bottom: 16px;
  text-align:center;
  color: #fff;
  margin: 50px;
  padding: 20px;
  border: 2px solid #eff2f5;
  border-radius: 10px;
  background-color: #eaeef2;
  color: #0e0d0d;
}
.error-messages{
  color: red;
  font-size: 24px;
  margin-bottom: 16px;
}
  