/* FILEPATH: /c:/Users/CharllieDhaldane/Desktop/Work/portfolio/Scheduler.io/client/src/Components/Customer/CustomerLoginBooking/CustomerBookingPage/CustomerBookingPage.css */

.info-display {
  flex: 1;
  font-size: 24px;
  margin-bottom: 16px;
  text-align: center;
  color: #fff;
  margin: 50px;
  padding: 20px;
  border: 2px solid #eff2f5;
  border-radius: 10px;
  background-color: #eaeef2;
  color: #0e0d0d;
}
.error-messages {
  color: red;
  font-size: 24px;
  margin-bottom: 16px;
}

.additional-comments textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}
