.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: fit-content;
  width: 80%;
}

.right {
  display: flex;
}

.book-appointment {
  justify-content: center;
  align-items: bottom;
  margin-top: 20px;
  position: relat;
  background-color: var(--olive);
  color: var(--green);
  bottom: 10%;
  left: 10%;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  margin: 10%;
}

.info-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0% 5%;
  background-color: var(--grey);
  color: var(--green);
}
