.main {
  display: flex;
  justify-content: space-between;
  width: calc(100% - var(--sidebar-width));
  height: 100%;
  margin-left: 300px;
  border-radius: 10px 0px 0px 10px;
  animation: slideInTop 0.5s ease-in-out normal forwards;
  background-color: var(--bg-primary);
}

.main-body {
  width: calc(100% - var(--sidebar-width)) !important;
  min-height: var(--main-height);
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-primary);
  border-radius: 10px 0px 0px 10px;
  margin-left: var(--sidebar-width);
}

.main-body.collapsed .calendar {
  width: 90%;
  margin: 0 auto;
}

.main-right {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: fit-content;
  width: 80%;
}

.right {
  display: flex;
}

.book-appointment {
  justify-content: center;
  align-items: bottom;
  margin-top: 20px;
  position: relat;
  background-color: var(--olive);
  color: var(--primary);
  bottom: 10%;
  left: 10%;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  margin: 10%;
}

.info-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0% 5%;
  background-color: var(--bg-primary);
  color: var(--primary);
  padding-bottom: 2%;
  animation: slideInBottom 0.5s ease-in-out normal forwards;
}

.info-page h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  font-family: var(--font-secondary);
}

.info-page h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-family: var(--font-secondary);
}

.info-page p {
  font-size: 1rem;
  margin-bottom: 10px;
  color: var(--white);
  display: inline-block;
}

.info-page ul li {
  font-size: 1rem;
  margin-bottom: 10px;
  color: var(--white);
}

.admin-button {
  position: fixed;
  bottom: 10px;
  left: 100px;
  z-index: 1000000;
  background-color: var(--secondary);
  color: var(--bg-primary);
  border-radius: 10px;
  font-size: 1rem;
  width: 100px;
  padding: 10px;
  transition: all 0.1s ease-in-out;
}
