/* FILEPATH: /c:/Users/CharllieDhaldane/Desktop/Work/portfolio/Scheduler.io/client/src/Components/Customer/CustomerLandingPage/CustomerLandingPage.css */

.customerLanding-container {
  display: flex;
  flex-direction: column; /* Change to column to stack children vertically */
  align-items: center;
  justify-content: center;
  width: 100%;
}

.welcome-message {
  font-size: 24px;
  margin-bottom: 16px;
  text-align: center;
  color: #fff;
  width: 100%; 
}

.appointments-container {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: flex-start; 
  width: 100%; 
  max-width: 1200px; 
  margin: 0 auto; 
  gap: 20px;
}

.info-display {
  flex: 1; 
  font-size: 24px;
  padding: 20px;
  border: 2px solid #eff2f5;
  border-radius: 10px;
  background-color: #eaeef2;
  color: #0e0d0d;
}

.comment-button {
  margin-top: 20px; 
  padding: 10px 15px; 
  font-size: 16px; 
  color: #fff; 
  background-color: #5c5c5c; 
  border: none;
  border-radius: 5px;
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.comment-button:hover {
  background-color: #434343;
}


.back-to-home {
  text-align: center;
  padding: 20px;
  width: 100%;
}