/* Footer.css */
.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  width: 100%;
  color: var(--text-white);
  text-align: center;
  font-family: var(--font-secondary);
  height: 60px;
}

.footer-content {
  margin: auto;
  padding: 0px;
  max-width: 960px;
  text-align: center;
}

@media (max-width: 600px) {
  .footer-content {
    padding: 10px;
  }
}
