.calendar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  perspective: 2000px; /* Add perspective to enhance the 3D effect */
  color: var(--primary);
  width: 80%;
  height: max-content;
  padding: 30px 30px;
  border-radius: 10px;
}

.calendar > .body {
  width: 100%; /* Adjusted for the navigation buttons */
}

.header {
  display: flex;
  flex-direction: row !important;
  width: calc(
    100% + 2 * var(--nav-padding)
  ); /* Adjusted for the navigation buttons */
  white-space: nowrap;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Adjusted for 7 days + 1 hour column */
  height: 30px;
  border: 1px solid var(--light-grey);
  color: var(--primary);
  transition: all 0.1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  background-color: var(--bg-primary);
}

.cell:hover {
  border: 1px solid var(--primary);
}

.header-days {
  display: flex;
  width: 100%;
  text-align: center; /* Center the text */
  border: 1px solid var(--light-grey);
  padding-top: 3px;
}

.header-cell {
  width: calc((100%)); /* Adjusted for the navigation buttons */
  text-align: center; /* Center the text */
  border: 1px solid var(--light-grey);
  padding-top: 3px;
}

.empty {
  width: 50%; /* Adjusted for 7 days + 1 hour column */
  border: none;
  color: var(--ash);
  border: 1px solid var(--light-grey);
  font-size: 0.8em;
}

.cell.hours {
  display: flex;
  align-items: center;
  justify-content: center; /* Align hour text to the right */
  width: 50%;
  text-align: center; /* Align hour text to the right */
}

.cell.scheduled {
  color: var(--text-white);
  font-weight: bold;
  font-family: var(--font-main);
}

.cell.booking {
  background-color: var(--secondary) !important;
  color: var(--bg-secondary) !important;
  font-style: italic;
  border: 1px solid var(--secondary) !important;
}

.cell.single-select {
  border: 1px solid white !important;
  box-shadow: var(--bg-primary) 0px 4px 55px, var(--bg-primary) 0px -12px 30px,
    var(--bg-primary) 0px 4px 6px, var(--bg-primary) 0px 12px 13px,
    var(--bg-primary) 0px -3px 5px !important;
  z-index: 100000;
}

.cell.group-select:not(.scheduled) {
  background-color: var(--primary) !important ;
  border: 1px solid transparent !important;
  color: var(--bg-primary);
  z-index: 10;
}

.cell.group-select.booking {
  background-color: var(--secondary) !important;
  border: 1px solid black !important;
  color: var(--bg-primary);
}

.cell.group-select.booking.start {
  box-shadow: var(--bg-primary) 0px 54px 55px, var(--bg-primary) 0px -12px 30px,
    var(--bg-primary) 0px 40px 60px, var(--bg-primary) 0px 12px 1px,
    var(--bg-primary) 0px -3px 5px !important;
  border-bottom: 1px solid transparent !important;
}

.cell.group-select.booking.middle {
  box-shadow: var(--bg-primary) 0px 54px 55px, var(--bg-primary) 0px 20px 30px,
    var(--bg-primary) 0px 4px 6px, var(--bg-primary) 0px 12px 13px,
    var(--bg-primary) 0px 20px -1px !important;
  border-top: 1px solid transparent !important;
  border-bottom: 1px solid transparent !important;
}

.cell.group-select.booking.end {
  box-shadow: var(--bg-primary) 0px 54px 55px, var(--bg-primary) 0px 20px 30px,
    var(--bg-primary) 0px 4px -6px, var(--bg-primary) 0px 12px 13px,
    var(--bg-primary) 0px -3px 5px !important;
  border-top: 1px solid transparent !important;
}

.cell.over {
  background-color: var(--light-grey) !important;
}

.day.selected {
  background-color: #61dafb;
}

.expand-indicator {
  position: absolute;
  left: 44%;
  z-index: 1;
  cursor: -webkit-grab;
  animation: pulse 1s infinite;
  border-color: inherit !important;
}

.expand-indicator.top {
  top: -15px; /* Adjust based on the cell's border and desired appearance */
  border-bottom: 10px solid white !important;
  border-color: inherit !important;
  border-left: 10px solid transparent !important;
  border-right: 10px solid transparent !important;
}

.expand-indicator.bottom {
  border-top: 10px solid white !important;
  border-color: inherit !important;
  border-left: 10px solid transparent !important;
  border-right: 10px solid transparent !important;

  bottom: -15px; /* Adjust based on the cell's border and desired appearance */
}

.scheduled-slot {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  pointer-events: none;
}

.navigation-button {
  width: var(--nav-padding) !important;
  height: 30px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--white);
  padding: 10px 20px;
}

.navigation-button.nb-right {
  float: right;
  translate: -30% 0;
}

.navigation-button.nb-left {
  float: left;
  translate: -10% 0;
}

.flip-left {
  animation: flipPageLeft 0.6s ease-in-out;
  transform-style: preserve-3d; /* Preserve 3D transformations */
  z-index: 2; /* Ensure current page is above the next page */
}

.flip-right {
  animation: flipPageRight 0.6s ease-in-out;
  transform-style: preserve-3d; /* Preserve 3D transformations */
  z-index: 2; /* Ensure current page is above the next page */
}

@keyframes flipPageRight {
  0% {
    transform: rotateY(0deg);
    transform-origin: left;
    opacity: 1;
  }
  100% {
    transform: rotateY(-180deg);
    scale: 0.1;
    transform-origin: left;
    opacity: 0;
  }
}

@keyframes flipPageLeft {
  0% {
    transform: rotateY(-180deg);
    scale: 0.1;
    transform-origin: left;
    opacity: 1;
  }
  100% {
    transform: rotateY(0deg);
    transform-origin: left;
    opacity: 0.3;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
