.calendar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary);
  width: 70%;
  height: calc(var(--main-height) + 60px);
  padding-bottom: 1px;
  border-radius: 4px;
  font-size: 1em;
  margin: 0 1%;
  margin-top: -60px;
  transition: all 0.5s ease-in-out;
  /* animation: slideInBottom 0.5s ease-in-out normal forwards; */
}

.calendar-button {
  width: 100px;
  height: 30px;
  background-color: var(--bg-primary) !important;
  border-radius: 10px;
  color: var(--primary);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease-in-out;
}

.calendar-top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  gap: 10px;
  width: 100%;
  margin: 10px;
  color: var(--ash);
}

.calendar-buttons {
  display: flex;
  gap: 10px;
  width: 30%;
}

.calendar-buttons > button {
  background-color: var(--bg-primary);
  color: var(--ash);
  border: 2px solid var(--bg-secondary);
  cursor: pointer;
  font-size: 1.2em;
  border-radius: 2px;
  white-space: nowrap;
  width: 50%;
}

.calendar-buttons > button:focus {
  background-color: var(--bg-secondary);
}

.calendar-buttons > button:hover {
  background-color: var(--bg-secondary);
}

.calendar-top > span {
  font-size: 2.5em !important;
  font-weight: 1000;
  color: var(--primary);
  border: 2px solid var(--bg-secondary);
  background-color: var(--bg-secondary);
  border-radius: 4px !important;
  padding: 0px 10px;
}

.calendar-top > h2 {
  font-size: 1.5em !important;
  font-weight: 400;
  margin-block-start: 0px;
  margin-block-end: 0px;
  width: 22%;
  text-align: right;
}

.calendar-table {
  display: table;
  table-layout: fixed;
  border: 3px solid var(--ash);
  border-radius: 4px;
  margin-top: 5px;
  width: 100%;
  height: 100%;
}

.calendar-header {
  display: table-row;
  width: 100%;
  white-space: nowrap;
  height: calc(100% / 24);
  background-color: var(--bg-secondary);
  border: 3px solid var(--ash);
  border-bottom: none;
  border-radius: 4px 4px 0 0;
}

.calendar-row {
  display: table-row;
  width: 100%;
  white-space: nowrap;
  height: calc(100% / 24);
}

.header-days.Day .header-cell {
  width: 100%; /* Adjusted for the navigation buttons */
  text-align: center; /* Center the text */
}

.header-cell {
  text-align: center; /* Center the text */
  vertical-align: middle; /* Center the text */
  display: table-cell;
}

.header-cell.loading {
  color: var(--bg-secondary) !important;
}

.cell.hours {
  display: table-cell;
  align-items: center;
  justify-content: center; /* Align hour text to the right */
  text-align: center; /* Align hour text to the right */
}

.cell.hours.Month {
  padding: 5px;
  min-width: 100px !important;
  font-size: 0.8em;
}

.cell.hours.Day {
  min-width: calc(30%) !important; /* Adjusted for 7 days + 1 hour column */
}

.cell.scheduled {
  color: var(--text-white);
  font-weight: bold;
  font-family: var(--font-main);
}

.cell.booking {
  background-color: var(--secondary) !important;
  color: var(--bg-primary) !important;
  font-weight: bold !important;
  border: 1px solid var(--secondary) !important;
}

.cell.single-select {
  border: 1px solid white;
  background-color: var(--bg-secondary);
}

.cell.group-select:not(.scheduled) {
  background-color: var(--primary) !important ;
  border: 1px solid transparent !important;
  color: var(--bg-primary);
}

.cell.group-select.booking {
  background-color: var(--secondary) !important;
  border: 1px solid black !important;
  color: var(--bg-primary);
}

.cell.group-select.booking.start {
  border-bottom: 1px solid transparent !important;
}

.cell.group-select.booking.middle {
  border-top: 1px solid transparent !important;
  border-bottom: 1px solid transparent !important;
}

.cell.group-select.booking.end {
  border-top: 1px solid transparent !important;
}

.cell.over {
  background-color: var(--bg-secondary) !important;
}

.day.selected {
  background-color: #61dafb;
}

.scheduled-slot {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  pointer-events: none;
}

.navigation-button {
  border: none;
  background: var(--bg-secondary);
  cursor: pointer;
  color: var(--white);
  padding: 0;
  width: 51%;
  height: 100%;
  border-radius: 0px;
  border-right: 2px solid var(--bg-secondary);
  transition: all 0.1s ease-in-out;
}

.navigation-button:hover,
.navigation-button:focus {
  transform: scale(1) !important;
  background-color: var(--light-grey) !important;
}

.navigation-button:active {
  background-color: var(--bg-primary);
  animation: button-pulse 0.3s ease-in-out;
}

/* MOBILE STYLING */

.calendar.mobile {
  width: 95%;
  border-radius: 0;
  margin: 0 auto;
  align-items: flex-start;
}

.calendar.mobile .calendar-buttons {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  margin: 0px;
  position: absolute;
  bottom: 25%;
  left: 0px;
  gap: 0px;
}

.calendar.mobile .calendar-buttons > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 30px;
  width: 30px;
  padding: 15px;
  font-size: 1.2em;
}

.calendar.mobile .calendar-buttons > button > i {
  margin-right: 0px;
}

.calendar.mobile .calendar-buttons > span {
  translate: 0;
  font-size: 1.5em !important;
}

.calendar.mobile .calendar-buttons > h2 {
  font-size: 1.2em !important;
}

.calendar-mobile-expand {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  top: 90px;
  right: 10px;
  font-size: 1em;
  color: var(--ash);
  border: 2px solid var(--bg-secondary);
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .calendar-top {
    flex-direction: column;
    width: 100%;
    margin: 0px;
    min-height: 70px;
  }

  .calendar-top > span {
    font-size: 1.5em !important;
  }

  .calendar-top > h2 {
    font-size: 1em !important;
    width: 90%;
    text-align: center;
  }
}
