.main-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  color: var(--green);
  margin: auto;
  padding: 20px;
}

.calendar {
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 10px; */
  width: 100%; 
  /* min-width: fit-content; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 104%;
  padding-right: 3%; /*required so the right arrow isnt hiding behind the puzzle pieces*/
}

.navigation-button:first-child{
  flex: 0 0 1%;
}
.navigation-button {
  flex: 0 0 3.5%; 
  height: 30px; 
  border: none;
  background: transparent;
  cursor: pointer;
  
}




.header-cell{
  flex: 1; 
  width: 12%;
  margin: 0 1px; 
  padding-left: 2.5%;
  border-top: var(--green);
  display: flex;
  align-items: center;
  justify-content: left;
}


.header-cell:last-child {
  padding: 0px 1%; /* Adjust as needed */
}

.cell {
  width: 25%;
  height: 30px;
  border: 1px solid var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--green);
  background-color: var(--grey);
}


.empty {
  border: none !important;
  width: 8%;
  height: 30px;
}

.body {
  width: 100%;
}

.body .row {
  display: flex;
  position: relative;
}

.cell {
  position: relative;
  cursor: pointer;
  background-color: var(--grey);
}

.cell.hours {
  color: #999;
  background-color: transparent;
  border: none;
  width: 8%;
}

.cell.scheduled {
  background-color: inherit;
  color: var(--white);
  border: 1px solid inherit;
}

.cell.selected {
  background-color: var(--green) !important;
  border: 1px solid var(--green) !important;
}

.cell.group-selected {
  background-color: var(--green) !important ;
  border: 1px solid var(--green) !important;
}

.cell.over {
  background-color: var(--blue);
}

.day.selected {
  background-color: solid #61dafb;

}

.expand-indicator {
  position: absolute;
  left: 44%;
  z-index: 1;
  cursor: -webkit-grab;
  animation: pulse 1s infinite;
}

.expand-indicator.top {
  top: -15px; /* Adjust based on the cell's border and desired appearance */
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--green);
}

.expand-indicator.bottom {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-top: 10px solid var(--green);
  bottom: -15px; /* Adjust based on the cell's border and desired appearance */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
