.cell.closed {
  color: #000;
}

.calendar-row.closed {
  color: #000;
  height: 10px;
  display: none;
}

.calendar-row.open {
  display: table-row;
}

.calendar-row.closed .cell.hours {
  font-size: 0;
}
