/* FILEPATH: /c:/Users/CharllieDhaldane/Desktop/Work/portfolio/Scheduler.io/client/src/Components/BookingPage/BookingPage.css */

.booking-container {
  display: flex;

  width: 50%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  margin: 0 auto;
}

.booking-container > div {
  flex: 1;
  font-size: 24px;
  margin-bottom: 16px;
  text-align: center;
  color: #fff;
}

.or-label {
  font-size: 24px;
  margin-bottom: 16px;
  text-align: center;
  color: #fff;
}

.customer-login-register {
  display: flex;
}
