.sidebar {
  width: var(--sidebar-width);
  height: 100vh; /* Full height */
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg-secondary); /* Dark background */
  padding-top: 20px;
  animation: slideInLeft 0.5s ease-in-out normal forwards;
  z-index: 10;
}

.sidebar-item {
  padding: 10px 15px;
  text-align: left;
  color: var(--light-grey);
  border: 2px solid #555; /* Lighter line for each item */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 80%;
  margin: 10px auto;
}

.sidebar-item.selected {
  color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.sidebar-item.none {
  height: 30px;
}

.sidebar-item:hover {
  color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.sidebar-item.add {
  border: 2px dashed #555 !important;
  margin-top: 10px;
  color: var(--light-grey);
}

.sidebar-item.add:hover {
  background-color: var(--bg-secondary) !important;
  color: var(--white) !important;
}

.sidebar-item:hover h1 {
  margin-left: 10px;
}

.sidebar-item:hover i {
  scale: 1.3;
}
.sidebar-header {
  padding: 10px 15px;
  color: white;
  font-size: 25px;
}

.sidebar-item-header {
  text-align: left;
  font-size: 20px;
  display: flex;
  align-items: center;
  font: 0.7em sans-serif;
}

.sidebar-item-header > i {
  font-size: 2em;
  margin-right: 10px;
  transition: scale 0.3s ease-in-out;
}

.sidebar-item-header > h1 {
  transition: margin-left 0.3s ease-in-out;
}

.sidebar-item-body {
  padding-left: 10px;
  text-align: left;
  color: var(--blue);
  font-size: 16px;
  font-family: var(--font-secondary);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  animation: slide-down 0.5s ease-in-out;
}

.sidebar-item-body.none {
  display: none;
  height: 0px;
}

.sidebar-item-label {
  padding-left: 0px;
  padding-top: 10px;
  text-align: left;
  color: white;
  font-size: 16px;
  color: var(--primary);
}

.sidebar-item-value {
  padding-left: 10px;
  padding-top: 2px;
  text-align: left;
  color: white;
  font-size: 13px;
}

.admin {
  color: var(--blue);
}

@keyframes slide-down {
  0% {
    opacity: 0;
    height: 0px;
    transform: translateY(-10%);
  }
  100% {
    height: 70px;
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
