/* FILEPATH: /c:/Users/CharllieDhaldane/Desktop/Work/portfolio/Scheduler.io/client/src/Components/Navbar/Navbar.css */

.navbar {
  background-color: var(--bg-secondary);
  color: #fff;
  width: calc(100% - 300px);
  margin-left: 300px;
  height: var(--nav-height);
  display: flex;
  align-items: center;
}

.navbar-calendar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  gap: 20px;
  max-height: 59px;
  border: 1px solid var(--primary);
  border-top: 0px;
  padding: 0px 10px;
  margin: 3px 5%;
}

.admin-navbar {
  display: flex;
}

.loggedin-navbar {
  display: flex;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5em;
  gap: 40px;
  margin-right: 5%;
}

.navbar-content li:hover {
  transform: scale(1.1);
}

.navbar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.navbar-header:hover {
}

.navbar-header > h1 {
  color: var(--primary);
  font-family: var(--font-secondary);
  font-weight: 800;
  white-space: nowrap;
  margin-right: 10px;
  font-size: 2rem;
}

.navbar-header h2 {
  color: var(--ash);
  font-family: var(--font-secondary);
  font-weight: 800;
  white-space: nowrap;
  margin-right: 10px;
}

.navbar-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.navbar-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-pic {
  height: 40px !important;
  border-radius: 50%;
  border: 2px solid var(--primary);
  padding: 5px;
}

.flipped {
  transform: rotateY(180deg);
}

.fa-user {
  margin: 5px;
}
