/* FILEPATH: /c:/Users/CharllieDhaldane/Desktop/Work/portfolio/Scheduler.io/client/src/Components/Navbar/Navbar.css */

.navbar {
  background-color: var(--bg-secondary);
  color: #fff;
  width: calc(100% - 300px);
  margin-left: 300px;
  height: var(--nav-height);
}

.admin-navbar {
  display: flex;
}

.loggedin-navbar {
  display: flex;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  margin-right: 20px;
}

.navbar ul li {
  margin-right: 30px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
}

.navbar ul li a i {
  margin-right: 5px;
  font-size: 1.2em;
  margin: 0px 10px;
}

.navbar ul li:hover {
  transform: scale(1.1);
}

.navbar-header {
  margin-left: 35%;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.navbar-header:hover {
  transform: scale(1.1);
}

.navbar-header > h1 {
  color: var(--primary);
  font-family: var(--font-secondary);
  font-weight: 800;
  white-space: nowrap;
  margin-right: 10px;
}

.navbar-header h2 {
  color: var(--ash);
  font-family: var(--font-secondary);
  font-weight: 800;
  white-space: nowrap;
  margin-right: 10px;
}

.navbar-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.navbar-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-pic {
  height: 40px;
  border-radius: 50%;
}

.flipped {
  transform: rotateY(180deg);
}

.fa-user {
  margin: 5px;
}
