.navbar {
  background-color: var(--bg-primary);
  color: var(--text-white);
  width: calc(100% - var(--sidebar-width));
  margin-left: var(--sidebar-width);
  height: var(--nav-height);
  display: flex;
}

.navbar.title {
  justify-content: flex-start;
  margin-left: 20px;
  width: 100%;
}

.navbar-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 70%;
  height: 100%;
  padding-left: 20px;
}

.navbar-header > h1 {
  font-weight: 800;
  font-size: 2rem;
}

.navbar-item.profile-item {
  font-size: 1em !important;
  margin-right: 20px;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  right: 1%;
  gap: 40px;
  width: 30%;
}

.navbar-content i {
  font-size: 2em;
  transition: all 0.3s ease-in-out;
}

.navbar-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.navbar-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1em;
}

.navbar-item > i:hover {
  scale: 1.1;
}

.profile-pic {
  height: 40px !important;
  border-radius: 50%;
  border: 2px solid var(--primary);
  padding: 5px;
}

.profile-pic:hover {
  scale: 1.1;
}

.admin-navbar {
  display: flex;
}

.loggedin-navbar {
  display: flex;
}

.flipped {
  transform: rotateY(180deg);
}

/* MOBILE STYLING  */
@media screen and (max-width: 768px) {
  .navbar-content {
    font-size: 0.8em;
    gap: 15px;
    width: 50%;
    justify-content: flex-end;
  }

  .navbar-header {
    width: 50%;
    padding-left: 10px;
  }

  .navbar-item.profile-item {
    margin-right: 5px;
  }
}
