.navbar {
  background-color: var(--bg-primary);
  color: var(--text-white);
  width: calc(100% - var(--sidebar-width));
  margin-left: var(--sidebar-width);
  height: var(--nav-height);
  display: flex;
}

.navbar-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 70%;
  margin-top: 2%;
}

.navbar-header > h1 {
  color: var(--ash);
  font-family: var(--font-secondary);
  background-color: var(--bg-secondary);
  border: 2px solid var(--ash);
  padding: 10px;
  border-radius: 8px;
  font-weight: 800;
  white-space: nowrap;
  font-size: 2rem;
  margin: 0 auto;
  margin-top: -2%;
  position: relative;
  left: 20px;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  right: 1%;
  font-size: 2em;
  gap: 40px;
  width: 30%;
}

.navbar-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.navbar-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-item > i:hover {
  scale: 1.1;
}

.profile-pic {
  height: 40px !important;
  border-radius: 50%;
  border: 2px solid var(--primary);
  padding: 5px;
}

.profile-pic:hover {
  scale: 1.1;
}

.admin-navbar {
  display: flex;
}

.loggedin-navbar {
  display: flex;
}

.flipped {
  transform: rotateY(180deg);
}
